#sc{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
}

body {
    background: #3768C8;
}

header {
    text-align: center;
    border: 5px solid #C89737;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: coral;
}

li {
    display: inline-block;
    font-family: cursive;
    padding: 10px;
}

img {
    box-shadow: 10px 10px brown;
    width: 300px;
    height: 300px;
    border: 10px solid #C89737;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h2{
    font-family: cursive;
    color: black;
}

button{
    margin-left: 20%;
    margin-top: 5%;
    visibility: hidden;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

ul{
    margin-left: 20%;
}